*{
    margin: 0;
    padding: 0;
   
}
.inputs{
    padding-top: 25px;
    padding-left: 10px;
}
.type-swither{
    padding-top: 20px;
}
.typeSwitcher-label{
    padding-right: 20px;
}
.first-form{
    
    width:38%;
    display: none;
}